<div class="container">
<form class="form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
  </div>

  <div class="form-group">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" id="apellido" name="apellido" required>
  </div>

  <div class="form-group">
    <label for="edad">Años:</label>
    <input type="number" class="form-control" id="edad" name="edad" required>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{{!-- COMENTO EL CODIGO POR QUE SEGURAMENTE LO VUELV A USAR --}}
{{!--   <ul>
    {{#each products}}
      <li> 
        <h3>{{title}}</h3>
        <p>ID: {{id}}</p>
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Código: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
      </li>
    {{/each}}
  </ul> --}}
</div>