<div class="container">
  <h1>Bienvenido al Home</h1>

{{!-- COMENTO EL CODIGO POR QUE SEGURAMENTE LO VUELV A USAR --}}
{{!--   <ul>
    {{#each products}}
      <li> 
        <h3>{{title}}</h3>
        <p>ID: {{id}}</p>
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Código: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
      </li>
    {{/each}}
  </ul> --}}
</div>