<div class="container">
  <h2>Lista de Productos con Handlebars</h2>
  <ul>
    {{#each products}}
      <li> 
        <h3>{{title}}</h3>
        <p>ID: {{id}}</p>
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Código: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
        {{!-- <a href="{{thumbnail}}">Product's Image</a> --}}
      </li>
    {{/each}}
  </ul>
</div>