{{#if isadmin}}
  <h1>Usted es admin 😎</h1>
{{/if}}
<h2>Welcome: {{firstname}} </h2>
<a href="/auth/logout" class="btn btn-Danger ">Cerrar sesión</a>
<h2>All Products</h2>

{{#each products}}
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          src="ruta_imagen"
          class="card-img-top"
          alt="Thumbnail del producto"
        />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">{{this.price}}</p>
          <p class="card-text">{{this.code}}</p>
          <p class="card-text">{{this.stock}}</p>
          <p class="card-text">{{this.category}}</p>
          <a href="/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
          <button
            onclick="putIntoCart('{{this._id}}')"
            class="btn btn-success"
          >Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>{{this.thumbnail}}</p>
    <p>{{this.code}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <a href="/products/{{this_id}}">View Details</a>
    <button
      onclick="putIntoCart('{{this._id}}')"
      style="background-color: lightblue;"
    >añadir al carrito: {{this._id}} </button>
  </div> --}}
{{/each}}

totalPages:
{{totalPages}}
prevPage:
{{prevPage}}
nextPage:
{{nextPage}}
currentPage:
{{currentPage}}
hasPrevPage:
{{hasPrevPage}}
hasNextPage:
{{hasNextPage}}
prevLink:
{{prevLink}}
nextLink:
{{nextLink}}

<div class="pagination">
  {{#if prevLink}}
    <a href="{{prevLink}}"> Previous</a>
  {{/if}}

  {{#if nextLink}}
    <a href="{{nextLink}}">Next</a>
  {{/if}}
</div>